/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-normal: #bbbbbb;
  --accent-color: rgba(165, 121, 248, 0.9);
  --accent-color-bg: rgb(165, 121, 248, 0.15);
  --background-primary: #1a1a1a;
  --background-primary-alt: #0d0b12;
  --background-secondary: #212121;
  --background-secondary-alt: #18181a;
  --background-trans: rgba(255, 255, 255, 0.15);
  --bg-accent-55: rgba(165, 121, 248, 0.55);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary);
  color: var(--text-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
